<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-category-edit" th:object="${category}">
            <input id="categoryId" name="categoryId" th:field="*{categoryId}"  type="hidden" />
            <input id="treeId"     name="parentId"   th:field="*{parentId}"    type="hidden" />
            <div class="form-group">
                <label class="col-sm-3 control-label ">上级分类：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" onclick="selectCategoryTree()" th:field="*{parentName}" id="treeName" readonly="true"  />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">分类名称：</label>
                <div class="col-sm-8">
                    <input id="categoryName" name="categoryName" th:field="*{categoryName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">显示顺序：</label>
                <div class="col-sm-8">
                    <input id="orderNum" name="orderNum" th:field="*{orderNum}" class="form-control" type="text">
                </div>
            </div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/category"
		$("#form-category-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-category-edit').serialize());
	        }
	    }
	    /*部门管理-新增-选择分类树*/
        function selectCategoryTree() {
            var options = {
                title: '分类选择',
                width: "380",
                url: prefix + "/selectCategoryTree/" + $("#treeId").val(),
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
	</script>
</body>
</html>
